@charset "utf-8";
/* CSS Document */

html{color:#000;background:#FFF;overflow: scroll;
overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,
fieldset,input,textarea,p,blockquote,th,td {
margin:0 auto;
padding:0; font-family:verdana,"\5FAE\8F6F\96C5\9ED1"; font-size:12px;
}
a { text-decoration: none;outline: none; -webkit-tap-highlight-color:transparent;outline:none;}
/*
字符编码：
宋体：      \5B8B\4F53
微软雅黑：  \5FAE\8F6F\96C5\9ED1
*/
table {
border-collapse:collapse;
border-spacing:0;
}
img {
border:0;
}
fieldset{
    border:1px solid #d5d5d5;
    padding:15px 0 0 10px;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:normal;
}
ol,ul {
list-style:none;
}
caption,th {
text-align:left;
}
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
q:before,q:after {
content;
}
abbr,acronym{border:0;}
p{
    word-wrap:break-word;
}
body{padding:0px!important;}
a:hover{ text-decoration: none }
/* 主内容区 */
.ui-layout{
	margin-bottom: 16px;
	position: relative;
	width: 1380px;
	overflow: hidden;
	text-align: center;
}
/* header */
.ui-header{
	margin-bottom: 16px;
	width: 100%;
	background-color: #FFD100;
}
	.ui-header nav{
		position: relative;
		margin: 0 70px;
		text-align: center;
		line-height: 0px;
	}
	.ui-logo{
		position: absolute;
		left: 0px;top: 0px;
		font-size: 20px;
		color: #000;
		height: 56px;
		line-height: 56px;
	}
		.ui-logo a{
			margin-top: 8px;
			width: 143px;
			height: 40px;
			display: block;
			overflow: hidden;
			text-indent: 0px;
			line-height: 40px;
			text-align: left;
/* 			text-align: -9999px;
			background: url('../images/logo.png'); */
		}
	.ui-nav{
		display: inline-block;
		margin: 0 auto;
		height: 56px;
	}
		.ui-nav li{
			float: left;
			height: 56px;
			line-height: 56px;
			font-size: 14px;
			text-align: center;
		}
		.ui-nav li.current{
			font-weight: 600;
		}
		.ui-nav li a{
			display: block;
			padding: 0px 24px;
			color: #000;
		}
		.ui-nav li a:hover{
			font-weight: 600;
			color: #FFD100;
			background-color: #000;
		}
	.ui-sign{
		position: absolute;
		right: 0px;top: 0px;
		overflow: hidden;
	}
		.ui-sign-line{
			margin: 0px 14px;
		}
		.ui-sign a{
			display: inline-block;
			height: 56px;
			line-height: 56px;
			font-size: 14px;
			text-align: center;
			color: #000;
			outline: none;
		}
/* slider */
.ui-slider{
	position: relative;
	height: 400px;
	overflow: hidden;
}
	.ui-slider-scroll{
		position: relative;
		overflow: hidden;
		-webkit-transition: -webkit-transform 0s ease;
		transition: -webkit-transform 0s ease;
		-moz-transition: transform 0s ease, -moz-transform 0s ease;
		transition: transform 0s ease;
	}
		.ui-slider-scroll.ui-translate{
			-webkit-transition: -webkit-transform .5s ease;
			transition: -webkit-transform .5s ease;
			-moz-transition: transform .5s ease, -moz-transform .5s ease;
			transition: transform .5s ease;
		}
		.ui-slider-scroll li{
			float: left;
			width: 1380px;
			height: 400px;
		}
		.ui-slider-scroll img{
			-moz-border-radius: 4px;
			     border-radius: 4px;
		}
	.ui-slider #lszhSliderPrev,
	.ui-slider #lszhSliderNext{
		display: block;
		position: absolute;
		top: 0px;left: 0px;
		width: 100px;
		height: 100%;
	}
	.ui-slider #lszhSliderNext{
		left:auto;right: 0px;
	}
	.ui-slider #lszhSliderPrev::before,
	.ui-slider #lszhSliderNext::before{
		content: "";
		display: block;
		position: absolute;
		left: 0;top: 0;bottom: 0;right: 0;
		margin: auto;
		width: 64px;
		height: 64px;
		background: url('../images/left_arrow.svg') 0px 0px no-repeat;
		-moz-background-size: 100% 100%;
		     background-size: 100% 100%;
	}
	.ui-slider #lszhSliderNext::before{
		-webkit-transform : rotate(180deg);
		   -moz-transform : rotate(180deg);
		    -ms-transform : rotate(180deg);
		        transform : rotate(180deg);
	}
	.ui-slider #lszhSliderPrev:hover::before,
	.ui-slider #lszhSliderNext:hover::before{
		background: url('../images/left_arrowhover.svg') 0px 0px no-repeat;
		-moz-background-size: 100% 100%;
		     background-size: 100% 100%;
	}
/* .ui-hot-list{
	margin-right: -20px;
	position: relative;
	overflow: hidden;
	height: 210px;
}
	.ui-hot-list li{
		float: left;
		margin-right: 20px;
		width: 260px;
		height: 100%;
		border-radius:4px;
		overflow: hidden;
	}
	.ui-hot-list img{
		width: 260px;
		height: 100%;
	} */
.ui-hot-list{
	margin-right: -20px;
	position: relative;
	overflow: hidden;
}
	.ui-hot-list li{
		float: left;
		margin-right: 20px;
		width: 190px;
		height: 100%;
	}
		.ui-hot-list li a{
			position: relative;
			display: block;
			border-radius:4px;
			overflow: hidden;
		}
		.ui-hot-list img{
			width: 190px;
		}
		.ui-hot-list .ui-title{
			position: absolute;
			left: 0px;bottom: 0px;
			width: 100%;
			line-height: 30px;
			font-size: 14px;
			color: #fff;
			background-color: rgba(0, 0, 0, .7);
			z-index: 20;
		}

/* 评分 */
.ui-score{
	margin-top:4px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../images/star.png') 0px -150px no-repeat;
	cursor:pointer;
}
.ui-score.active{
	background: url('../images/star.png') 0px -120px
}
.ui-score-txt{
	margin-left: 6px;
	vertical-align: text-bottom;
}
.ui-score-result{
	position: relative;
	margin: 6px auto 0px;
	padding: 0px 28px 0px 38px;
	width: 75px;
	height: 15px;
	background: url('../images/star.png') 38px -150px no-repeat;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.ui-score-result::before{
	content: "评分：";
	position: absolute;
	top: 0px; left: 0px;
	text-indent: 
}
.ui-score-result .ui-score-txt{
	position: absolute;
	top:0px; left: 112px;
}
.ui-score-result.ui-score-10{
	background-position: 38px 0px;
}
.ui-score-result.ui-score-9{
	background-position: 38px -15px;
}
.ui-score-result.ui-score-8{
	background-position: 38px -30px;
}
.ui-score-result.ui-score-7{
	background-position: 38px -45px;
}
.ui-score-result.ui-score-6{
	background-position: 38px -60px;
}
.ui-score-result.ui-score-5{
	background-position: 38px -75px;
}
.ui-score-result.ui-score-4{
	background-position: 38px -90px;
}
.ui-score-result.ui-score-53{
	background-position: 38px -105px;
}
.ui-score-result.ui-score-2{
	background-position: 38px -120px;
}
.ui-score-result.ui-score-1{
	background-position: 38px -135px;
}


@media screen and (max-width:1600px){
	.ui-layout{
		width: 1130px;
	}
	.ui-slider-scroll li{
		float: left;
		width: 1130px;
		height: 350px;
	}
}