@charset "utf-8";
/* CSS Document */

html{color:#000;background:#FFF;overflow: scroll;
overflow-x: hidden;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,
fieldset,input,textarea,p,blockquote,th,td {
margin:0 auto;
padding:0; font-family:verdana,"\5FAE\8F6F\96C5\9ED1"; font-size:12px;
}
a { text-decoration: none;outline: none; -webkit-tap-highlight-color:transparent;outline:none;}
/*
字符编码：
宋体：      \5B8B\4F53
微软雅黑：  \5FAE\8F6F\96C5\9ED1
*/
table {
border-collapse:collapse;
border-spacing:0;
}
img {
border:0;
}
fieldset{
    border:1px solid #d5d5d5;
    padding:15px 0 0 10px;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-style:normal;
font-weight:normal;
}
ol,ul {
list-style:none;
}
caption,th {
text-align:left;
}
h1,h2,h3,h4,h5,h6 {
font-size:100%;
font-weight:normal;
}
abbr,acronym{border:0;}
html{background-color:#fff;}
p{
    word-wrap:break-word;
}
a:hover{ text-decoration: none }
input:focus{outline:0;}
*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.ui-center{text-align: center}
/* 主内容区 */
.ui-layout{
	position: relative;
	width: 1380px;
	overflow: hidden;
	text-align: left;
}
/* 按钮 */
.ui-btn{
	display: inline-block;
	padding: 0px;
	width: 80px;
	height: 34px;
	text-align: center;
	color: #333;
	font-size: 14px;
	line-height: 34px;
	border-radius: 4px;
	cursor: pointer;
	outline: none;
	background-color: #ffd100;
	border: 0px;
}
.ui-btn.right{
	float: right;
}
.ui-btn-sm{
	width: 54px;
	height: 28px;
	line-height: 28px;
}
.ui-btn-xs{
	width: 40px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
}
	.ui-btn + .ui-btn{
		margin-left: 8px;
	}
	.ui-btn-sm + .ui-btn-sm{
		margin-left: 6px;
	}
	.ui-btn-xs + .ui-btn-xs{
		margin-left: 4px;
	}
	.ui-btn-default{
		background-color: #fff;
		border: 1px solid #ccc;
		color: #333;
	}
	.ui-btn-success{
		background-color: #5cb85c;
		color: #fff;
	}
	.ui-btn-warning{
		background-color: #de5145;
		color: #fff;
	}
	.ui-btn-primary{
		background-color: #4e88ee;
		color: #fff;
	}
		.ui-btn:hover{
			background-color: #ffba00;
		}
		.ui-btn-default:hover{
			border-color: #a8a8a8;
			background-color: #eee;
		}
		.ui-btn-success:hover{
			background-color: #449d44;
		}
		.ui-btn-warning:hover{
			background-color: #ca3428;
		}
		.ui-btn-primary:hover{
			background-color: #2a68d5;
		}
/* 表单元素 */
.ui-form-layout{
	position: relative;
	padding:10px;
	max-width: 800px;
}
	.ui-form-head,.ui-form-foot{
		position: relative;
		padding: 10px;
		overflow: hidden;
	}
	.ui-form-body{
		padding: 15px 10px;
	}
	.ui-form-head{
		border-bottom: 1px solid #f4f4f4;
	}
	.ui-form-foot{
		border-top: 1px solid #f4f4f4;
		text-align: right;
	}
	.ui-form-title{
		font-size: 20px;
		color: #333;
	}
	.ui-form-group{
		position: relative;
		margin-bottom: 15px;
	}	
		.ui-form-group:last-child{
			margin-bottom: 0px;
		}
		.ui-form-group input,
		.ui-form-group select,
		.ui-form-group textarea,
		.ui-form-group label{
			display: inline-block;
			width: 100%;
			font-size: 14px;
		}
		.ui-form-group input,
		.ui-form-group select,
		.ui-form-group textarea{
			border: 1px solid #d8dde9;
			border-radius: 4px;
			color: #555;
		}
		.ui-form-group input,
		.ui-form-group select{
			padding: 4px 10px;
			height: 32px;
			line-height: 32px;
		}
		.ui-form-group textarea{
			padding: 4px 10px;
			height: 100px;
			line-height: 28px;
		}
		.ui-form-group label{
			margin-bottom: 6px;
			color: #333;
			font-weight: 700;
		}
		.ui-form-group input:focus,
		.ui-form-group select:focus,
		.ui-form-group textarea:focus
		{
			border-color: #c2c2c2;
		}

.ui-table{
	width: 100%;
	max-width: 100%;
}
.ui-table tr th,.ui-table tr td{
	padding: 8px;
	line-height: 1.43;
	border: 1px solid #ddd;
	min-width: 80px;
	max-width: 300px;
}
.ui-table thead tr th{
	border-bottom: 2px  solid #ddd;
	font-weight: 700;
	vertical-align: bottom;
}
.ui-table tbody tr td{
	vertical-align: middle;
}
.ui-table .ui-btn-sm+.ui-btn-sm{
	margin-left: 4px;
}
.ui-table-info{
	word-break: break-all;
	overflow: hidden;
	max-height: 36px;
	overflow-y: auto
}

/* 评分 */
.ui-score{
	margin-top:4px;
	display: inline-block;
	width: 15px;
	height: 15px;
	background: url('../images/star.png') 0px -150px no-repeat;
	cursor:pointer;
}
.ui-score.active{
	background: url('../images/star.png') 0px -120px
}
.ui-score-txt{
	margin-left: 6px;
	vertical-align: text-bottom;
}
.ui-score-result{
	position: relative;
	margin: 6px auto 0px;
	padding: 0px 28px 0px 38px;
	width: 75px;
	height: 15px;
	background: url('../images/star.png') 38px -150px no-repeat;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.ui-score-result::before{
	content: "评分：";
	position: absolute;
	top: 0px; left: 0px;
	text-indent: 
}
.ui-score-result .ui-score-txt{
	position: absolute;
	top:0px; left: 112px;
}
.ui-score-result.ui-score-10{
	background-position: 38px 0px;
}
.ui-score-result.ui-score-9{
	background-position: 38px -15px;
}
.ui-score-result.ui-score-8{
	background-position: 38px -30px;
}
.ui-score-result.ui-score-7{
	background-position: 38px -45px;
}
.ui-score-result.ui-score-6{
	background-position: 38px -60px;
}
.ui-score-result.ui-score-5{
	background-position: 38px -75px;
}
.ui-score-result.ui-score-4{
	background-position: 38px -90px;
}
.ui-score-result.ui-score-53{
	background-position: 38px -105px;
}
.ui-score-result.ui-score-2{
	background-position: 38px -120px;
}
.ui-score-result.ui-score-1{
	background-position: 38px -135px;
}
