@charset "utf-8";
/* indexlist */
html,body{background-color:#f4f4f4;}
.ui-content-list{
	position: relative;
	margin: 20px 0px;
	margin-right: -24px;
	overflow: hidden;
}
	.ui-list-item{
		float: left;
		position: relative;
		margin-right: 24px;
		margin-bottom: 18px;
		width: 210px;
		border-radius: 4px;
		overflow: hidden;
	}
		.item-img{
			position: relative;
			width:210px;
			height: 315px;
			background-color: #fff;
			border-bottom: 1px solid #f3f3f3;
		}
			.item-img img{
				position: absolute;
				left: 0px;top: 0px;
				width: 100%;
			}
		.item-info{
			padding:8px 14px;
			background-color: #fff;
		}
			.item-title{
				font-size: 14px;
				line-height: 26px;
				text-overflow: ellipsis;
				white-space: nowrap;
				overflow: hidden;
			}
				.item-title a{
					color: #333;
				}
				.item-title a:hover{
					color: #d36f16;
				}
			.item-from{
				overflow: hidden;
			}
				.item-doctor,.item-time{
					max-width: 49%;
					font-size: 12px;
					line-height: 26px;
					color: #bbb;
				}
				.item-doctor{
					display: none;
					float: left;
					text-overflow: ellipsis;
					white-space: nowrap;
					overflow: hidden;
				}
				.item-time{
					float: right;
				}